<div class="container">

  <h1><%= @task.title %></h1>
  <p><%= @task.details %></p>
  <%= if @task.completed == true
        "This task is COMPLETED! Good job!!! "
      else
        "This task is NOT completed yet..."
      end
  %>

  <p><%= link_to "GO BACK", tasks_path %></p>
  <p><%= link_to "EDIT TASK", edit_task_path %></p>
</div>
